## Contents
    4.6 Exercise

## Import libraies and data sets

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/jonathanfava/07-2022 Instacart Basket Analysis'

In [19]:
# import data set ords_checked as df_ords

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)

In [16]:
# import order_products__prior

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_products__prior.csv'), index_col = False)

In [17]:
# check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [22]:
df_ords_prior.shape

(32434489, 4)

In [20]:
# check the output

df_ords.head()

,order_id,user_id,order_number,order_day_of_week,time_of_order,days_since_prior_order,returning_customer
0,2539329,1,1,2,8,NaN,False
1,2398795,1,2,3,7,15.0,True
2,473747,1,3,3,12,21.0,True
3,2254736,1,4,4,7,29.0,True
4,431534,1,5,4,15,28.0,True

In [23]:
df_ords.shape

(3421083, 7)

In [31]:
# merge the two dfs on the order id column

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

In [25]:
# check the output

df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,time_of_order,days_since_prior_order,returning_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,False,196,1,0,both
1,2539329,1,1,2,8,NaN,False,14084,2,0,both
2,2539329,1,1,2,8,NaN,False,12427,3,0,both
3,2539329,1,1,2,8,NaN,False,26088,4,0,both
4,2539329,1,1,2,8,NaN,False,26405,5,0,both

In [29]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

## Task Questions

## Q1/2. Export in pickle

In [32]:
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'order_products_combined.pkl'))